.card-footer {
  background-color: white;
}

.item-text {
	color: rgba(0,0,0,.5);
	font-weight: 600;
	font-size: 0.8rem;
}

.item-text-big {
	color: rgba(0,0,0,.5);
	font-weight: 700;
	font-size: 0.9rem;
}

.status-services {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #0e71b4 !important;
  color: white;
}

.card-item-title {
	font-weight: 600;
}
