<footer class="card-footer fixed-bottom">
	<div class="row">
		<div class="col-md-3">
			<span class="align-middle item-text-big" *ngIf="currentTime">System Time:</span>
			<span class="align-middle item-text" *ngIf="currentTime">{{currentTime | date: 'HH:mm'}}</span>
		</div>
		<div class="col-md-6 text-center">
			<span class="align-middle item-text">© P.O.S. Data System S.r.l. | Via Nicolò Mineo, 10 - Palermo | P.IVA 01647390812 | Tutti i diritti riservati.</span>
		</div>
		<div class="col-md-3 text-right item-text">
			<span class="align-bottom item-text-big mr-1">Powered by:</span>
			<a href="http://www.posdata.it"><img src="/assets/images/logo-posdata.png" width="120px" height="25px" alt=""></a>
		</div>
	</div>
</footer>
