<app-navbar></app-navbar>

<div id="main-card" class="card ml-3 mr-3 text-justify">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <nav aria-label="breadcrumb" class="mr-1 ml-1">
          <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a style="color:#6c757d;" href="" routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" *ngIf="viewPanel != 2">Pannello di Controllo</li>
            <li class="breadcrumb-item underline item-clickable" *ngIf="viewPanel == 2" style="color:#6c757d;" (click)="changeView(1, 'Gestione Clienti', '', '');">Pannello di Controllo</li>
            <li class="breadcrumb-item active" aria-current="page" *ngIf="viewPanel == 2">{{companyedit}}</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div id="left" class="col-md-3 col-sm-12 full-height">
        <div class="row">
          <div class="col col-sm-12 mb-2 mt-2">
            <div class="card ml-1 mr-1 mt-1">
              <div class="text-center status-hosts">
                <p class="card-item-title" style="margin-bottom: 0;">Menù Amministrazione</p>
              </div>
              <div class="row mt-2">
    						<div class="text-center col-3">
                  <i class="fa fa-building" aria-hidden="true"></i>
                </div>
    						<div class="col-6 item-clickable item-text" (click)="changeView(1, 'Gestione Clienti', '', '');">Gestione Clienti</div>
              </div>
              <div class="row">
    						<div class="text-center col-3">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
    						<div class="col-6 item-clickable item-text" (click)="changeView(0, 'Gestione Utenti', '', '');">Gestione Utenti</div>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="row">
          <div class="col col-sm-12 mb-2 mt-2">
            <div class="card ml-1 mr-1 mt-1">
              <div class="text-center status-hosts">
                <p class="card-item-title item-clickable" style="margin-bottom: 0;" (click)="changeView(1, 'Gestione Clienti', '');">Gestione Clienti</p>
              </div>
            </div>
          </div>
        </div>-->
      </div>


      <div class="col-md-9 col-sm-12">
        <div class="row">
          <div class="col col-sm-12 mb-2 mt-2">

            <div class="card ml-1 mr-1 mt-1">
              <div class="pl-3 mb-2 status-hosts">
                <p class="card-item-title" style="margin-bottom: 0;">{{viewTitle}}</p>
              </div>

              <div class="card-body ml-1 mr-1">

                <div class="row" *ngIf="viewPanel == 0">
                  <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-9 col-sm-12 mb-2 mt-1">
                        <nav class="navbar" style="padding: 0;">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class='fa fa-search' aria-hidden='true'></i></div>
                            </div>
                            <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Cerca...">
                          </div>
                        </nav>
                      </div>
                      <div class="col-md-3 col-sm-12 text-right mb-2 mt-1">
                        <button type="button" class="btn btn-success card-item-title create-up" data-toggle="modal" data-target="#createModal"><i class="fa fa-plus" aria-hidden="true"></i> Crea utente</button>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-md-12 col-sm-12">
                        <table class="table table-responsive w-100 d-block d-md-table table-sm table-hover" *ngIf="users">
                          <thead class="card-item-title" style="color: #172559;">
                            <td (click)="sort('companyname')" scope="col" class="item-clickable">
                              <i class="fa fa-building" aria-hidden="true"></i>
                              Azienda
                              <i class="fa" *ngIf="key =='companyname'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='companyname'" aria-hidden="true"></i>
                            </td>
                            <td (click)="sort('firstname')" scope="col" class="item-clickable">
                              <i class="fa fa-address-card" aria-hidden="true"></i>
                              Nome
                              <i class="fa" *ngIf="key =='firstname'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='firstname'" aria-hidden="true"></i>
                            </td>
                            <td (click)="sort('lastname')" scope="col" class="item-clickable">
                              <i class="fa fa-address-card-o" aria-hidden="true"></i>
                              Cognome
                              <i class="fa" *ngIf="key =='lastname'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='lastname'" aria-hidden="true"></i>
                            </td>
                            <td (click)="sort('username')" scope="col" class="item-clickable">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              Username
                              <i class="fa" *ngIf="key =='username'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='username'" aria-hidden="true"></i>
                            </td>
                            <td></td>
                            <td></td>
                          </thead>
                          <tbody>
                            <tr *ngFor="let user of users | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p };" class="item-text-big">
                              <td>{{user.customer_name}}</td>
                              <td>{{user.firstname}}</td>
                              <td>{{user.lastname}}</td>
                              <td>{{user.username}}</td>
                              <td><i class="fa fa-pencil-square fa-lg hostgroup-warning item-clickable" aria-hidden="true" (click)="editUser(user.id);"></i></td>
                              <td><i class="fa fa-trash fa-lg hostgroup-critical item-clickable" aria-hidden="true" onclick="alert('Funzionalità non ancora sviluppata');"></i></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="createModalLabel">Crea utente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form name="form" (ngSubmit)="f.form.valid && signup(f)" #f="ngForm" novalidate>
                                  <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                      <p class="login-label">Nome</p>
                          						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
                          				      <div class="input-group mb-2">
                          				        <div class="input-group-prepend">
                          				          <div class="input-group-text"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                          				        </div>
                          				        <input type="text" class="form-control" name="firstname" autocomplete="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required />
                          				        <div *ngIf="f.submitted && !firstname.valid" class="help-block">
                          						    	<i class="fa fa-times" aria-hidden="true"></i>
                          								</div>
                          				      </div>
                          						</div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                      <p class="login-label">Cognome</p>
                                      <div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
                                        <div class="input-group mb-2">
                                          <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-address-card-o" aria-hidden="true"></i></div>
                                          </div>
                                          <input type="text" class="form-control" name="lastname" autocomplete="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required />
                                          <div *ngIf="f.submitted && !lastname.valid" class="help-block">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <p class="login-label">Username</p>
                      						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                      				      <div class="input-group mb-2">
                      				        <div class="input-group-prepend">
                      				          <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
                      				        </div>
                      				        <input type="text" class="form-control" name="username" autocomplete="username" [(ngModel)]="model.username" #username="ngModel" required />
                      				        <div *ngIf="f.submitted && !username.valid" class="help-block">
                      						    	<i class="fa fa-times" aria-hidden="true"></i>
                      								</div>
                      				      </div>
                      						</div>

                                  <p class="login-label">E-Mail</p>
                      						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                      				      <div class="input-group mb-2">
                      				        <div class="input-group-prepend">
                      				          <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                      				        </div>
                      				        <input type="email" class="form-control" name="email" autocomplete="email" [(ngModel)]="model.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
                      				        <div *ngIf="f.submitted && !email.valid" class="help-block">
                      						    	<i class="fa fa-times" aria-hidden="true"></i>
                      								</div>
                      				      </div>
                      						</div>

                      						<p class="login-label">Password</p>
                      						<div class="mt-2" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                      				      <div class="input-group mb-2">
                      				        <div class="input-group-prepend">
                      				          <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>
                      				        </div>
                      				        <input type="password" class="form-control" name="password" autocomplete="current-password" [(ngModel)]="model.password" #password="ngModel" required />
                      				        <div *ngIf="f.submitted && !password.valid" class="help-block">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                      </div>
                      				      </div>
                      						</div>

                                  <p class="login-label">Conferma Password</p>
                      						<div class="mt-2" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
                      				      <div class="input-group mb-2">
                      				        <div class="input-group-prepend">
                      				          <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>
                      				        </div>
                      				        <input type="password" class="form-control" name="confirmPassword" autocomplete="current-confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" validateEqual="password" required />
                      				        <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                      </div>
                      				      </div>
                      						</div>

                                  <p class="login-label">Azienda</p>
                      						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !customer.valid }">
                      				      <div class="input-group mb-2">
                      				        <div class="input-group-prepend">
                      				          <div class="input-group-text"><i class="fa fa-building" aria-hidden="true"></i></div>
                      				        </div>
                                      <select class="form-control" name="customer" [(ngModel)]="model.customer" #customer="ngModel" required>
                                        <option *ngFor="let company of customers" value="{{company._id}}">{{company.name}}</option>
                                      </select>
                      				        <div *ngIf="f.submitted && !customer.valid" class="help-block">
                      						    	<i class="fa fa-times" aria-hidden="true"></i>
                      								</div>
                      				      </div>
                      						</div>

                      						<alert></alert>

                      						<div class="text-center mt-4">
                      							<button [disabled]="loading" class="btn btn-primary card-item-title create-down" type="submit">Registra</button>
                      							<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      					  </div>
                      					</form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-12 col-sm-12 text-right">
                        <pagination-controls class="my-pagination" (pageChange)="p = $event"
                                             autoHide="true"
                                             previousLabel="Indietro"
                                             nextLabel="Avanti"
                                             directionLinks="false"
                        >
                        </pagination-controls>
                      </div>

                    </div>

                    <div class="row" *ngIf="eu_username">
                      <div class="col-md-9 col-sm-12 mb-2 mt-1">
                        <nav class="navbar" style="padding: 0;">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class='fa fa-pencil-square' aria-hidden='true'></i></div>
                            </div>
                            <input class="form-control" type="text" placeholder="Lista siti: {{eu_firstname}} {{eu_lastname}} ({{eu_username}})" readonly>
                          </div>
                        </nav>

                        <!--<nav aria-label="breadcrumb" class="mb-2">
                          <ol class="breadcrumb mt-2">
                            <li class="breadcrumb-item" style="color:#6c757d;">Lista siti: {{eu_firstname}} {{eu_lastname}} (<i>{{eu_username}}</i>)</li>
                          </ol>
                        </nav>-->
                      </div>
                      <div class="col-md-3 col-sm-12 text-right mb-2 mt-1">
                        <button type="button" class="btn btn-success card-item-title create-up" onclick="alert('Funzionalità non ancora sviluppata');"><i class="fa fa-plus" aria-hidden="true"></i> Aggiungi sito</button>
                      </div>
                    </div>

                    <div class="row mt-1">
                      <div class="col-md-12 col-sm-12">
                        <table class="table table-responsive w-100 d-block d-md-table table-sm table-hover" *ngIf="user_hostgroups">
                          <thead class="card-item-title" style="color: #172559;">
                            <td scope="col">
                              <i class="fa fa-building" aria-hidden="true"></i>
                              Azienda
                            </td>
                            <td scope="col">
                              <i class="fa fa-address-card" aria-hidden="true"></i>
                              Descrizione
                            </td>
                            <td scope="col">
                              <i class="fa fa-podcast" aria-hidden="true"></i>
                              Indirizzo IP
                            </td>
                            <td scope="col">
                              <i class="fa fa-sign-in" aria-hidden="true"></i>
                              Porta
                            </td>
                            <td></td>
                            <td></td>
                          </thead>
                          <tbody>
                            <tr *ngFor="let user_hostgroup of user_hostgroups" class="item-text-big">
                              <td>{{user_hostgroup.name}}</td>
                              <td>{{user_hostgroup.description}}</td>
                              <td>{{user_hostgroup.ip}}</td>
                              <td>{{user_hostgroup.port}}</td>
                              <td><i class="fa fa-pencil-square fa-lg hostgroup-warning item-clickable" aria-hidden="true" onclick="alert('Funzionalità non ancora sviluppata');"></i></td>
                              <td><i class="fa fa-trash fa-lg hostgroup-critical item-clickable" aria-hidden="true" onclick="alert('Funzionalità non ancora sviluppata');"></i></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <!--<div class="row" *ngIf="viewPanel == 1">
                  <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-9 col-sm-12">
                      </div>
                      <div class="col-md-3 col-sm-12 text-right mb-2 mt-1">
                        <button type="button" class="btn btn-success card-item-title create-up" data-toggle="modal" data-target="#createCompanyModal"><i class="fa fa-plus" aria-hidden="true"></i> Crea cliente</button>
                      </div>
                    </div>
                    <div class="row mt-1" *ngIf='customers'>
                  		<div class="col-md-3 col-sm-12 mb-3" *ngFor="let company of customers;">
                  			<div style="height: 100%;" class="card hoverable mt-1">

                  				<div class="text-center mb-2 status-hosts">
                            <p class="item-clickable card-item-title" (click)="changeView(2, 'Amministrazione Cliente: ' + company.name, company.name, company._id);">{{company.name}}</p>
                  				</div>

                  				<div class="card-body text-center" *ngIf="company.logo != ''">
                            <img [src]="'data:image;base64,'+company.logo | safeHtml" style="height: 40px;">
                  				</div>
                  			</div>
                        <div class="modal fade" id="createCompanyModal" tabindex="-1" role="dialog" aria-labelledby="createCompanyLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="createCompanyLabel">Crea cliente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form name="form" (ngSubmit)="f.form.valid && createCompany(f)" #f="ngForm" novalidate>
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                      <p class="login-label">Nome</p>
                          						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !companyname.valid }">
                          				      <div class="input-group mb-2">
                          				        <div class="input-group-prepend">
                          				          <div class="input-group-text"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                          				        </div>
                          				        <input type="text" class="form-control" name="companyname" autocomplete="companyname" [(ngModel)]="model.companyname" #companyname="ngModel" required />
                          				        <div *ngIf="f.submitted && !companyname.valid" class="help-block">
                          						    	<i class="fa fa-times" aria-hidden="true"></i>
                          								</div>
                          				      </div>
                                      </div>
                                      
                                      <p class="login-label">Indirizzo</p>
                          						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                          				      <div class="input-group mb-2">
                          				        <div class="input-group-prepend">
                          				          <div class="input-group-text"><i class="fa fa-home" aria-hidden="true"></i></div>
                          				        </div>
                          				        <input type="text" class="form-control" name="address" autocomplete="address" [(ngModel)]="model.address" #address="ngModel" required />
                          				        <div *ngIf="f.submitted && !address.valid" class="help-block">
                          						    	<i class="fa fa-times" aria-hidden="true"></i>
                          								</div>
                          				      </div>
                                      </div>
                                      
                                      <p class="login-label">Partita IVA</p>
                          						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !vat.valid }">
                          				      <div class="input-group mb-2">
                          				        <div class="input-group-prepend">
                          				          <div class="input-group-text"><i class="fa fa-vcard-o" aria-hidden="true"></i></div>
                          				        </div>
                          				        <input type="text" class="form-control" name="vat" autocomplete="vat" [(ngModel)]="model.vat" #vat="ngModel" required />
                          				        <div *ngIf="f.submitted && !vat.valid" class="help-block">
                          						    	<i class="fa fa-times" aria-hidden="true"></i>
                          								</div>
                          				      </div>
                          						</div>

                                      <p class="login-label">Logo</p>
                          						<div class="mt-2 mb-3">

                                          <input type="file" name="file" id="file" (change)="onFileChanged($event)" />

                          						</div>
                                    </div>
                                  </div>

                      						<alert></alert>

                      						<div class="text-center mt-4">
                      							<button [disabled]="loading" class="btn btn-primary card-item-title create-down" type="submit">Registra</button>
                      							<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      					  </div>
                      					</form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>-->

                <div class="row" *ngIf="viewPanel == 1">
                  <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-9 col-sm-12 mb-2 mt-1">
                        <nav class="navbar" style="padding: 0;">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class='fa fa-search' aria-hidden='true'></i></div>
                            </div>
                            <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Cerca...">
                          </div>
                        </nav>
                      </div>
                      <div class="col-md-3 col-sm-12 text-right mb-2 mt-1">
                        <button type="button" class="btn btn-success card-item-title create-up" data-toggle="modal" data-target="#createCompanyModal"><i class="fa fa-plus" aria-hidden="true"></i> Crea sito</button>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-md-12 col-sm-12">
                        <table class="table table-responsive w-100 d-block d-md-table table-sm table-hover" *ngIf="customers">
                          <thead class="card-item-title" style="color: #172559;">
                            <td (click)="sort('companyname')" scope="col" class="item-clickable">
                              <i class="fa fa-address-card-o" aria-hidden="true"></i>
                              Nome
                              <i class="fa" *ngIf="key =='companyname'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='companyname'" aria-hidden="true"></i>
                            </td>
                            <td (click)="sort('firstname')" scope="col" class="item-clickable">
                              <i class="fa fa-home" aria-hidden="true"></i>
                              Indirizzo
                              <i class="fa" *ngIf="key =='firstname'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='firstname'" aria-hidden="true"></i>
                            </td>
                            <td (click)="sort('lastname')" scope="col" class="item-clickable">
                              <i class="fa fa-vcard-o" aria-hidden="true"></i>
                              Partita IVA
                              <i class="fa" *ngIf="key =='lastname'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='lastname'" aria-hidden="true"></i>
                            </td>
                            <!--<td (click)="sort('username')" scope="col" class="item-clickable">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              Username
                              <i class="fa" *ngIf="key =='username'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='username'" aria-hidden="true"></i>
                            </td>-->
                            <td></td>
                            <td></td>
                          </thead>
                          <tbody>
                            <tr *ngFor="let company of customers | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p };" class="item-text-big">
                              <td>{{company.name}}</td>
                              <td>via Test 88</td>
                              <td>01647390812</td>
                              <!--<td>{{server.username}}</td>-->
                              <td><i class="fa fa-pencil-square fa-lg hostgroup-warning item-clickable" aria-hidden="true" onclick="alert('Funzionalità non ancora sviluppata');"></i></td>
                              <td><i class="fa fa-trash fa-lg hostgroup-critical item-clickable" aria-hidden="true" onclick="alert('Funzionalità non ancora sviluppata');"></i></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="modal fade" id="createCompanyModal" tabindex="-1" role="dialog" aria-labelledby="createCompanyLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="createCompanyLabel">Crea cliente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form name="form" (ngSubmit)="f.form.valid && createCompany(f)" #f="ngForm" novalidate>
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                      <p class="login-label">Nome</p>
                          						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !companyname.valid }">
                          				      <div class="input-group mb-2">
                          				        <div class="input-group-prepend">
                          				          <div class="input-group-text"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                          				        </div>
                          				        <input type="text" class="form-control" name="companyname" autocomplete="companyname" [(ngModel)]="model.companyname" #companyname="ngModel" required />
                          				        <div *ngIf="f.submitted && !companyname.valid" class="help-block">
                          						    	<i class="fa fa-times" aria-hidden="true"></i>
                          								</div>
                          				      </div>
                                      </div>
                                      
                                      <p class="login-label">Indirizzo</p>
                          						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                          				      <div class="input-group mb-2">
                          				        <div class="input-group-prepend">
                          				          <div class="input-group-text"><i class="fa fa-home" aria-hidden="true"></i></div>
                          				        </div>
                          				        <input type="text" class="form-control" name="address" autocomplete="address" [(ngModel)]="model.address" #address="ngModel" required />
                          				        <div *ngIf="f.submitted && !address.valid" class="help-block">
                          						    	<i class="fa fa-times" aria-hidden="true"></i>
                          								</div>
                          				      </div>
                                      </div>
                                      
                                      <p class="login-label">Partita IVA</p>
                          						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !vat.valid }">
                          				      <div class="input-group mb-2">
                          				        <div class="input-group-prepend">
                          				          <div class="input-group-text"><i class="fa fa-vcard-o" aria-hidden="true"></i></div>
                          				        </div>
                          				        <input type="text" class="form-control" name="vat" autocomplete="vat" [(ngModel)]="model.vat" #vat="ngModel" required />
                          				        <div *ngIf="f.submitted && !vat.valid" class="help-block">
                          						    	<i class="fa fa-times" aria-hidden="true"></i>
                          								</div>
                          				      </div>
                          						</div>

                                      <p class="login-label">Logo</p>
                          						<div class="mt-2 mb-3">

                                          <input type="file" name="file" id="file" (change)="onFileChanged($event)" />

                          						</div>
                                    </div>
                                  </div>

                      						<alert></alert>

                      						<div class="text-center mt-4">
                      							<button [disabled]="loading" class="btn btn-primary card-item-title create-down" type="submit">Registra</button>
                      							<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      					  </div>
                      					</form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 mt-1 text-right">
                        <pagination-controls class="my-pagination" (pageChange)="p = $event"
                                             autoHide="true"
                                             previousLabel="Indietro"
                                             nextLabel="Avanti"
                                             directionLinks="false"
                        >
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
            
              <div class="row" *ngIf="viewPanel == 2">
                  <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-9 col-sm-12 mb-2 mt-1">
                        <nav class="navbar" style="padding: 0;">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class='fa fa-search' aria-hidden='true'></i></div>
                            </div>
                            <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Cerca...">
                          </div>
                        </nav>
                      </div>
                      <div class="col-md-3 col-sm-12 text-right mb-2 mt-1">
                        <button type="button" class="btn btn-success card-item-title create-up" data-toggle="modal" data-target="#createServerModal"><i class="fa fa-plus" aria-hidden="true"></i> Crea sito</button>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-md-12 col-sm-12">
                        <table class="table table-responsive w-100 d-block d-md-table table-sm table-hover" *ngIf="servers">
                          <thead class="card-item-title" style="color: #172559;">
                            <td (click)="sort('companyname')" scope="col" class="item-clickable">
                              <i class="fa fa-address-card-o" aria-hidden="true"></i>
                              Descrizione
                              <i class="fa" *ngIf="key =='companyname'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='companyname'" aria-hidden="true"></i>
                            </td>
                            <td (click)="sort('firstname')" scope="col" class="item-clickable">
                              <i class="fa fa-podcast" aria-hidden="true"></i>
                              Indirizzo IP
                              <i class="fa" *ngIf="key =='firstname'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='firstname'" aria-hidden="true"></i>
                            </td>
                            <td (click)="sort('lastname')" scope="col" class="item-clickable">
                              <i class="fa fa-sign-in" aria-hidden="true"></i>
                              Porta
                              <i class="fa" *ngIf="key =='lastname'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='lastname'" aria-hidden="true"></i>
                            </td>
                            <!--<td (click)="sort('username')" scope="col" class="item-clickable">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              Username
                              <i class="fa" *ngIf="key =='username'" aria-hidden="true" [ngClass]="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                              <i class="fa fa-sort" *ngIf="key !='username'" aria-hidden="true"></i>
                            </td>-->
                            <td></td>
                            <td></td>
                          </thead>
                          <tbody>
                            <tr *ngFor="let server of servers | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p };" class="item-text-big">
                              <td>{{server.description}}</td>
                              <td>{{server.ip_address}}</td>
                              <td>{{server.port_number}}</td>
                              <!--<td>{{server.username}}</td>-->
                              <td><i class="fa fa-pencil-square fa-lg hostgroup-warning item-clickable" aria-hidden="true" onclick="alert('Funzionalità non ancora sviluppata');"></i></td>
                              <td><i class="fa fa-trash fa-lg hostgroup-critical item-clickable" aria-hidden="true" onclick="alert('Funzionalità non ancora sviluppata');"></i></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="modal fade" id="createServerModal" tabindex="-1" role="dialog" aria-labelledby="createServerModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="createServerModalLabel">Crea sito</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form name="form" (ngSubmit)="f.form.valid && createServer(f, companyeditid)" #f="ngForm" novalidate>
                                  <p class="login-label">Descrizione</p>
                      						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                      				      <div class="input-group mb-2">
                      				        <div class="input-group-prepend">
                      				          <div class="input-group-text"><i class="fa fa-address-card-o" aria-hidden="true"></i></div>
                      				        </div>
                      				        <input type="text" class="form-control" name="description" autocomplete="description" [(ngModel)]="model.description" #description="ngModel" required />
                      				        <div *ngIf="f.submitted && !description.valid" class="help-block">
                      						    	<i class="fa fa-times" aria-hidden="true"></i>
                      								</div>
                      				      </div>
                      						</div>

                                  <p class="login-label">Indirizzo IP</p>
                      						<div class="mt-2 mb-3" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                      				      <div class="input-group mb-2">
                      				        <div class="input-group-prepend">
                      				          <div class="input-group-text"><i class="fa fa-podcast" aria-hidden="true"></i></div>
                      				        </div>
                      				        <input type="text" class="form-control" name="address" autocomplete="address" [(ngModel)]="model.address" #address="ngModel" required />
                      				        <div *ngIf="f.submitted && !address.valid" class="help-block">
                      						    	<i class="fa fa-times" aria-hidden="true"></i>
                      								</div>
                      				      </div>
                      						</div>

                      						<p class="login-label">Porta</p>
                      						<div class="mt-2" [ngClass]="{ 'has-error': f.submitted && !port.valid }">
                      				      <div class="input-group mb-2">
                      				        <div class="input-group-prepend">
                      				          <div class="input-group-text"><i class="fa fa-sign-in" aria-hidden="true"></i></div>
                      				        </div>
                      				        <input type="text" class="form-control" name="port" autocomplete="current-port" [(ngModel)]="model.port" #port="ngModel" required />
                      				        <div *ngIf="f.submitted && !port.valid" class="help-block">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                      </div>
                      				      </div>
                      						</div>

                      						<alert></alert>

                      						<div class="text-center mt-4">
                      							<button [disabled]="loading" class="btn btn-primary card-item-title create-down" type="submit">Registra</button>
                      							<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      					  </div>
                      					</form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 mt-1 text-right">
                        <pagination-controls class="my-pagination" (pageChange)="p = $event"
                                             autoHide="true"
                                             previousLabel="Indietro"
                                             nextLabel="Avanti"
                                             directionLinks="false"
                        >
                        </pagination-controls>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
