#main-card {
	margin-top: 1rem;
	background-color: #f7f9ff;
}

.card-body {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 0;
	padding-bottom: 0.4rem;
}

.full-height {
	height: 100%;
}

.breadcrumb {
  margin-bottom: 0;
  font-weight: 600;
  background-color: #f7f9ff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.status-hosts {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #0e71b4 !important;
  color: white;
}

.card-item-title {
	font-weight: 600;
}

.item-clickable:hover {
  cursor: pointer;
}

.item-clickable {
  margin-bottom: 0;
}

.item-text {
	color: rgba(0,0,0,.5);
	font-weight: 600;
	font-size: 0.8rem;
}

.icon-text {
	color: rgba(0,0,0,.5);
	font-weight: 600;
}


.item-text-big {
	color: rgba(0,0,0,.5);
	font-weight: 500;
	font-size: 0.9rem;
}

.hostgroup-up {
	color: #27c24c;
}

.create-up {
	background-color: #27c24c;
}

.create-info {
	background-color: #0e71b4 !important;
}

.create-down {
	background-color: #0e71b4 !important;
}

.hostgroup-warning {
	color: #ff902b;
}

.hostgroup-critical {
	color: #f05050;
}

.login-label {
	color: rgba(0,0,0,.5);
	font-weight: 600;
	font-size: 0.9rem;
}

.help-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.my-pagination /deep/ .ngx-pagination a, .ngx-pagination button {
	color: rgba(0,0,0,.5);
	font-weight: 600;
	font-size: 0.9rem;
}

.my-pagination /deep/ .ngx-pagination .current {
	color: white;
	font-weight: 600;
	font-size: 0.9rem;
	background-color: #0e71b4 !important;
}

.my-pagination /deep/ .ngx-pagination {
	margin-bottom: 0;
}

.underline:hover {
    text-decoration: underline;
}

.badge-danger {
	font-size: 100%;
	font-weight: 600;
	background-color: #f05050;
}

.badge-warning {
	font-size: 100%; 
	font-weight: 600;
	background-color: #ff902b;
	color: white;
}

.btn-danger {
	background-color: #f05050;
}

.modal-xl {
	max-width: 85%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-left: .0rem!important; 
  margin-right: .0rem!important;
}