<nav class="navbar navbar-expand-lg navbar-dark white">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="index.php" style="color: black;">ANGULAR CMK</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Cerca" aria-label="Cerca">
    </form>
  </div>
  <!-- Collapsible content -->
</nav>

<br>
<!--/.Navbar-->
