<nav class="navbar navbar-expand-lg navbar-light bg-faded" style="padding-left: 1.50rem; padding-right: 15px">
  <a class="text-left pb-2" href="" routerLink="/home"><img [src]="'data:image;base64,'+currentUser.logo | safeHtml" style="height: 40px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="currentUser.role == 2">
        <a class="nav-link" href="" routerLink="/admin">
          <i class="fa fa-wrench" aria-hidden="true"></i>
          Pannello di Controllo
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/profile">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          {{ currentUser.firstname }} {{ currentUser.lastname }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/login">
          <i class="fa fa-power-off" aria-hidden="true"></i>
          Logout
        </a>
      </li>
    </ul>

  </div>
</nav>
