.help-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.forgot-p {
  font-size: 0.9rem;
  color: #0e71b4 !important;
}

.item-text {
	color: rgba(0,0,0,.5);
	font-weight: 600;
	font-size: 0.9rem;
}

.btn-primary {
  background-color: #0e71b4 !important;
}

.item-clickable:hover {
  cursor: pointer;
}