<header>
  <app-navbar></app-navbar>
</header>


<div id="main-card" class="card ml-3 mr-3 text-justify">

  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <nav aria-label="breadcrumb" class="mr-1 ml-1" *ngIf="hostgroup">
          <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="" routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{hostgroup[0].name}} - {{hostgroup[0].description}}</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div id="left" class="col-md-3 col-sm-12 full-height">
        <div class="row" *ngIf="hostgroup">
          <div class="col col-sm-12 mb-2 mt-2">
            <div class="card hoverable ml-1 mr-1 mt-1 full-height">
              <div class="text-center mb-2 status-hosts">
                <p class="card-item-title" style="margin-bottom: 0;">{{hostgroup[0].name}} - {{hostgroup[0].description}}</p>
              </div>

      				<div *ngFor="let group of hostgroup[0].groups; let i = index" [attr.data-index]="i">
      					<div class="row">
      						<div class="text-center col-3"><i class="fa" [ngClass]="{
      							'fa-check-circle hostgroup-up':group.status === '0',
      							'fa-exclamation-circle hostgroup-warning':group.status === '1',
      							'fa-times-circle hostgroup-critical':group.status === '2',
                    'fa-question-circle hostgroup-unknown':group.status === '3'
      						}" aria-hidden="true"></i></div>
      						<div class="col-6 item-clickable item-text" (click)="getHosts(hostgroup[0], group, hostgroup[0].ip, hostgroup[0].port, group.name);">{{group.alias}}</div>
                  <div class="col-3">
                    <i class="custom-color fa" [ngClass]="{
        							'fa-toggle-off':(hostgroup[0].default_group === null  && i !== 0) || hostgroup[0].default_group !== group.name,
        							'fa-toggle-on':(hostgroup[0].default_group === null && i === 0) || hostgroup[0].default_group === group.name
        						}" aria-hidden="true" (click)="setDefaultGroup(hostgroup[0], group);"></i>
                  </div>
                </div>
      				</div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="host_chart">
          <div class="col col-sm-12 mb-2">
            <div class="card hoverable ml-1 mr-1 mt-1 full-height">
              <div class="text-center mb-2 status-hosts">
                <p class="card-item-title" style="margin-bottom: 0;">Hosts</p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="hosts-chart">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <table class="table table-sm table-hover item-text">
                      <tbody>
                        <tr>
                          <td>In Linea</td>
                          <td class="host-up"></td>
                          <td class="text-right">{{hosts_up}}</td>
                        </tr>
                        <tr>
                          <td>Offline</td>
                          <td class="host-down"></td>
                          <td class="text-right">{{hosts_down + hosts_unreachable}}</td>
                        </tr>
                        <tr>
                          <td>In Manutenzione</td>
                          <td class="host-pending"></td>
                          <td class="text-right">{{hosts_pending}}</td>
                        </tr>
                        <tr>
                          <td>Totale</td>
                          <td></td>
                          <td class="text-right">{{hosts_count}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="service_chart">
          <div class="col col-sm-12 mb-2">
            <div class="card hoverable ml-1 mr-1 mt-1">
              <div class="text-center mb-2 status-services">
                <p class="card-item-title" style="margin-bottom: 0;">Servizi</p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="services-chart">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <table class="table table-sm table-hover item-text">
                      <tbody>
                        <tr>
                          <td>Ottimale</td>
                          <td class="service-ok"></td>
                          <td class="text-right">{{services_ok}}</td>
                        </tr>
                        <tr>
                          <td>Warning</td>
                          <td class="service-warn"></td>
                          <td class="text-right">{{services_warn + services_unknown}}</td>
                        </tr>
                        <tr>
                          <td>Critici</td>
                          <td class="service-crit"></td>
                          <td class="text-right">{{services_crit}}</td>
                        </tr>
                        <tr>
                          <td>In Manutenzione</td>
                          <td class="service-pending"></td>
                          <td class="text-right">{{services_pending}}</td>
                        </tr>
                        <tr>
                          <td>Totale</td>
                          <td></td>
                          <td class="text-right">{{services_count}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-sm-12">
        <div class="row" *ngIf="hostgroup">
          <div class="col col-sm-12 mb-2 mt-2" *ngIf="hosts">
            <div class="card hoverable ml-1 mr-1 mt-1">
              <div class="pl-3 mb-2 status-hosts">
                <p class="card-item-title" style="margin-bottom: 0;">Elenco degli Hosts: {{viewMainTitle}}</p>
              </div>

              <div class="card-body ml-1 mr-1">
                <table class="table table-responsive w-100 d-block d-md-table table-sm text-center table-hover">
                  <thead class="card-item-title" style="color: #172559;">
                    <td></td>
                    <td class="text-left" scope="col"><i class="fa fa-address-card-o" aria-hidden="true"></i>
                    Nome</td>
                    <td scope="col"><i class="fa fa-podcast" aria-hidden="true"></i> Indirizzo IP</td>
                    <td scope="col"><i class="fa fa-check-circle hostgroup-up"></i> OK</td>
                    <td scope="col"><i class="fa fa-exclamation-circle hostgroup-warning"></i> Warning</td>
                    <td scope="col"><i class="fa fa-times-circle hostgroup-critical"></i> Critical</td>
                    <td scope="col"><i class="fa fa-question-circle hostgroup-unknown" aria-hidden="true"></i> Unknown</td>
                  </thead>
                  <tbody>
                    <tr *ngFor="let host of hosts;" class="item-text-big">
                      <td><i class="fa" [ngClass]="{
        								'fa-check-circle hostgroup-up':host.crit == 0 && host.warn == 0 && host.unknown == 0,
        								'fa-exclamation-circle hostgroup-warning':host.crit == 0 && host.warn > 0 && host.unknown == 0,
        								'fa-times-circle hostgroup-critical':host.crit > 0,
                        'fa-question-circle hostgroup-unknown':host.crit == 0 && host.unknown > 0
        							}" aria-hidden="true"></i></td>
                      <td class="text-left item-clickable" data-toggle="modal" data-target="#serviceModal" (click)="getServices(host.ip, host.port, host.name, host.alias)">{{host.alias}}</td>
                      <td>{{host.address}}</td>
                      <td>{{host.ok}}</td>
                      <td>{{host.warn}}</td>
                      <td>{{host.crit}}</td>
                      <td>{{host.unknown}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="serviceModalLabel" *ngIf="services">Dettagli dell'host {{viewSecondaryTitle}}, {{viewMainTitle}}, {{hostgroup[0].name}} - {{hostgroup[0].description}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-sm text-center table-striped">
            <thead class="card-item-title">
              <td scope="col"></td>
              <td class="text-left" scope="col"><i class="fa fa-address-card-o" aria-hidden="true"></i> Attributo</td>
              <td scope="col"><i class="fa fa-list-alt"></i> Stato</td>
              <td scope="col"><i class="fa fa-calendar-check-o"></i> Ultimo aggiornamento</td>
              <td scope="col"><i class="fa fa-handshake-o"></i> ACK</td>
            </thead>
            <tbody>
              <tr *ngFor="let service of services;" class="item-text">
                <td><i class="fa" [ngClass]="{
                  'fa-check-circle hostgroup-up':service.state == 0,
                  'fa-exclamation-circle hostgroup-warning':service.state == 1,
                  'fa-times-circle hostgroup-critical':service.state == 2,
                  'fa-question-circle hostgroup-unknown':service.state == 3
                }" aria-hidden="true"></i></td>
                <td class="text-left">{{service.name}}</td>
                <td class="text-left">{{service.status}}</td>
                <td class="">{{service.age}}</td>
                <td><i class="fa fa-toggle-off" onclick="alert('Attenzione: Funzione non ancora implementata.')"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
