#main-card {
	margin-top: 1rem;
	background-color: #f7f9ff;
}

.status-hosts {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #0e71b4 !important;
  color: white;
}

.card-item-title {
	font-weight: 600;
  margin-bottom: 0;
}
