::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background: rgba(0,0,0,0.1);
	border: 1px solid #ccc;
  }
  

  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(#e4e4e4, #fff, left);
	border: 1px solid #aaa;
  }

  ::-webkit-scrollbar-thumb:horizontal {
	border-radius: 10px;
	background: linear-gradient(#e4e4e4, #fff, left);
	height: 10px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
	background: #fff;
  }
  

  ::-webkit-scrollbar-thumb:active {
	background: #0e71b4 !important;
  }

body {
	background: #eeeeff;
	padding-bottom: 70px;
}

.ct-host-up {
	fill: rgb(6, 170, 50);
}

.ct-host-pending {
	fill: rgb(0, 170, 255);
}

.ct-host-unreachable {
	fill: rgb(255, 136, 0);
}

.ct-host-down {
	fill: rgb(240, 80, 80);
}

.ct-service-ok {
	fill: rgb(6, 170, 50);
}

.ct-service-pending {
	fill: rgb(0, 170, 255);
}

.ct-service-warn {
	fill: rgb(247, 203, 5);
}

.ct-service-unknown {
	fill: rgb(255, 136, 0);
}

.ct-service-crit {
	fill: rgb(240, 80, 80);
}
