.no-clickable {
  cursor: default;
}

#main-card {
	margin-top: 1rem;
	background-color: #f7f9ff;
}

.card-body {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 0;
	padding-bottom: 0.4rem;
}

.full-height {
	height: 100%;
}

.custom-bold {
  font-weight: 600;
}

.status-hosts {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #0e71b4 !important;
  color: white;
}

.status-hosts-off {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #757575;
  color: white;
}

.status-services {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #0e71b4 !important;
  color: white;
}

.card-item-title {
	font-weight: 600;
}

.item-clickable:hover {
  cursor: pointer;
}

.item-clickable {
  margin-bottom: 0;
}

.item-text {
	color: rgba(0,0,0,.5);
	font-weight: 600;
	font-size: 0.8rem;
}

.item-text-big-gray {
	color: rgba(0,0,0,.5);
	font-weight: 600;
	font-size: 1rem;
}

.host-up {
	background-color: #27c24c;
}

.host-pending {
	background-color: #0e71b4 !important;
}

.host-unreachable {
	background-color: rgb(255, 136, 0);
}

.host-down {
	background-color: rgb(240, 80, 80);
}

.service-ok {
	background-color: #27c24c;
}

.service-pending {
	background-color: #0e71b4 !important;
}

.service-warn {
	background-color: #ff902b;
}

.service-unknown {
	background-color: rgb(255, 136, 0);
}

.service-crit {
	background-color: rgb(240, 80, 80);
}

.status-up {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #27c24c;
  color: white;
}

.status-warning {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #ff902b;
  color: white;
}

.status-critical {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #f05050;
  color: white;
}

.status-offline {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #27c24c;
  color: white;
}

.hostgroup-up {
	color: #27c24c;
}

.hostgroup-warning {
	color: #ff902b;
}

.hostgroup-critical {
	color: #f05050;
}

.hostgroup-unknown {
	color: #757575 !important;
}

.hostgroup-ack {
	color: #0e71b4 !important;
}

.field-border {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 10px solid #3a3f51;
}

.service-item {
	font-weight: 400;
	font-size: 0.9rem;
}

.modal-xl {
	max-width: 95%;
}

.global-state {
  margin-top: .4rem!important;
  margin-bottom: 0;
}

.btn-secondary-ex {
  background-color: #0e71b4 !important;
  font-weight: 600;
}

.item-strong {
  font-weight: 700;
}

.my-pagination /deep/ .ngx-pagination a, .ngx-pagination button {
	color: rgba(0,0,0,.5);
	font-weight: 600;
	font-size: 0.9rem;
}

.my-pagination /deep/ .ngx-pagination .current {
	color: white;
	font-weight: 600;
	font-size: 0.9rem;
	background-color: #0e71b4 !important;
}

.my-pagination /deep/ .ngx-pagination {
	margin-bottom: 0;
}

.my-pagination-t /deep/ .ngx-pagination a, .ngx-pagination button {
	color: white;
	font-weight: 600;
	font-size: 0.8rem;
}

.my-pagination-t /deep/ .ngx-pagination .current {
	color: #0e71b4 !important;
	font-weight: 600;
	font-size: 0.8rem;
	background-color: white;
}

.my-pagination-t /deep/ .ngx-pagination {
	margin-bottom: 0;
}

.table-header {
	background-color: #0e71b4 !important;
	color: white;
	font-weight: 600;
}

.panel-state-ok {
	background-color: #27c24c !important;
	color: white;
}

.panel-state-warn {
	background-color: #ff902b;
	color: white;
}

.panel-state-crit {
	background-color: rgb(240, 80, 80);
	color: white;
}

.panel-state-unknown {
	background-color: #0e71b4 !important;
	color: white;
}

.ok-status {
  background-color: #27c24c;
  color: white;
}

.up-status {
  background-color: #27c24c;
  color: white;
}

.down-status {
  background-color: #f05050;
  color: white;
}

.warn-status {
  background-color: #ff902b;
  color: white;
}

.unknown-status {
	background-color: #0e71b4 !important;
  color: white;
}

.icon-blue { 
	color: #0e71b4 !important
}

.badge-danger {
	font-size: 0.8rem; 
	font-weight: 600;
	background-color: #f05050;
}

.badge-success {
	font-size: 0.8rem; 
	font-weight: 600;
	background-color: #27c24c;
}

.item-text-big {
	color: rgba(0,0,0,.5);
	font-weight: 500;
	font-size: 1rem;
}

.badge-primary {
	font-size: 0.8rem; 
	font-weight: 600;
	background-color: #0e71b4 !important;
}

.fake-body {
  height: 100%;
  background: #0e71b4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
}
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.loader__bar:nth-child(1) {
  left: 0px;
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
          animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
  left: 15px;
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
          animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
  left: 30px;
  -webkit-transform: scale(1, 0.6);
          transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
          animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
  left: 45px;
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
          animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
  left: 60px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
          animation: barUp5 4s infinite;
}
.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: ball 4s infinite;
          animation: ball 4s infinite;
}

@-webkit-keyframes ball {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(8px, -14px);
            transform: translate(8px, -14px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  17% {
    -webkit-transform: translate(23px, -24px);
            transform: translate(23px, -24px);
  }
  20% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  27% {
    -webkit-transform: translate(38px, -34px);
            transform: translate(38px, -34px);
  }
  30% {
    -webkit-transform: translate(45px, -30px);
            transform: translate(45px, -30px);
  }
  37% {
    -webkit-transform: translate(53px, -44px);
            transform: translate(53px, -44px);
  }
  40% {
    -webkit-transform: translate(60px, -40px);
            transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  57% {
    -webkit-transform: translate(53px, -14px);
            transform: translate(53px, -14px);
  }
  60% {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  67% {
    -webkit-transform: translate(37px, -24px);
            transform: translate(37px, -24px);
  }
  70% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  77% {
    -webkit-transform: translate(22px, -34px);
            transform: translate(22px, -34px);
  }
  80% {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
  }
  87% {
    -webkit-transform: translate(7px, -44px);
            transform: translate(7px, -44px);
  }
  90% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes ball {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(8px, -14px);
            transform: translate(8px, -14px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  17% {
    -webkit-transform: translate(23px, -24px);
            transform: translate(23px, -24px);
  }
  20% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  27% {
    -webkit-transform: translate(38px, -34px);
            transform: translate(38px, -34px);
  }
  30% {
    -webkit-transform: translate(45px, -30px);
            transform: translate(45px, -30px);
  }
  37% {
    -webkit-transform: translate(53px, -44px);
            transform: translate(53px, -44px);
  }
  40% {
    -webkit-transform: translate(60px, -40px);
            transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  57% {
    -webkit-transform: translate(53px, -14px);
            transform: translate(53px, -14px);
  }
  60% {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  67% {
    -webkit-transform: translate(37px, -24px);
            transform: translate(37px, -24px);
  }
  70% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  77% {
    -webkit-transform: translate(22px, -34px);
            transform: translate(22px, -34px);
  }
  80% {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
  }
  87% {
    -webkit-transform: translate(7px, -44px);
            transform: translate(7px, -44px);
  }
  90% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@-webkit-keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@-webkit-keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@-webkit-keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@-webkit-keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-left: .0rem!important; 
  margin-right: .0rem!important;
}