i {
  cursor: pointer;
}

#main-card {
	margin-top: 1rem;
	background-color: #f7f9ff;
}

.card-body {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-top: 0;
	padding-bottom: 0.4rem;
}

.full-height {
	height: 100%;
}

.status-hosts {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #0e71b4 !important;
  color: white;
}

.status-services {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #0e71b4 !important;
  color: white;
}

.card-item-title {
	font-weight: 600;
}

.item-clickable:hover {
  cursor: pointer;
}

.item-clickable {
  margin-bottom: 0;
}

.item-text {
	color: rgba(0,0,0,.5);
	font-weight: 600;
	font-size: 0.8rem;
}

.host-up {
	background-color: rgb(6, 170, 50);
}

.host-pending {
	background-color: rgb(0, 170, 255);
}

.host-unreachable {
	background-color: rgb(255, 136, 0);
}

.host-down {
	background-color: rgb(240, 80, 80);
}

.service-ok {
	background-color: rgb(6, 170, 50);
}

.service-pending {
	background-color: rgb(0, 170, 255);
}

.service-warn {
	background-color: rgb(247, 203, 5);
}

.service-unknown {
	background-color: rgb(255, 136, 0);
}

.service-crit {
	background-color: rgb(240, 80, 80);
}

.status-up {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #27c24c;
  color: white;
}

.status-warning {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: rgb(247, 203, 5);
  color: white;
}

.status-critical {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #f05050;
  color: white;
}

.status-offline {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #27c24c;
  color: white;
}

.hostgroup-up {
	color: #27c24c;
}

.hostgroup-warning {
	color: #ff902b;
}

.hostgroup-critical {
	color: #f05050;
}

.hostgroup-unknown {
	color: #0666f5;
}

.field-border {
	border-top: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-bottom: 10px solid #3a3f51;
}

.service-item {
	font-weight: 400;
	font-size: 0.9rem;
}

.modal-xl {
	max-width: 85%;
}

.global-state {
  margin-top: .4rem!important;
  margin-bottom: 0;
}

.btn-secondary {
  background-color: #0e71b4 !important;
  font-weight: 600;
}
