<header>
  <app-navbar></app-navbar>
</header>

<div id="main-card" class="card ml-3 mr-3 text-justify">
  <div class="card-body">
    <div class="row mt-1" *ngIf="host_chart">
      <div class="col-md-3 col-sm-12 mb-2 mt-2">
        <div class="card hoverable ml-2 mr-2 mt-1 full-height">
          <div class="text-center mb-2 status-hosts">
            <p class="card-item-title" style="margin-bottom: 0;">Hosts</p>
          </div>
          <div class="card-body">
            <div class="row">
              <!--<div class="col-md-6 col-sm-12">
                <div class="hosts-chart">
                </div>
              </div>-->
              <div class="col-md-12 col-sm-12">
                <table class="table table-sm table-hover item-text">                  
                  <tbody>
                    <tr class="item-clickable" data-toggle="modal" data-target="#hostModal" (click)="getHostsByState(0, 'In Linea')">                   
                      <td>Online</td>
                      <td class="host-up"></td>
                      <td class="text-right">{{hosts_up}}</td>
                    </tr>
                    <tr class="item-clickable" data-toggle="modal" data-target="#hostModal" (click)="getHostsByState(1, 'Offline')">
                      <td>Offline</td>
                      <td class="host-down"></td>
                      <td class="text-right">{{hosts_down + hosts_unreachable}}</td>
                    </tr>
                    <tr class="item-clickable" data-toggle="modal" data-target="#hostModal" (click)="getHostsByState(2, 'Manutenzione')">                  
                      <td>Manteinance</td>
                      <td class="host-pending"></td>
                      <td class="text-right">{{hosts_pending}}</td>
                    </tr>
                    <tr>
                      <td><br></td>
                      <td><br></td>
                      <td><br></td>
                    </tr>
                    <tr>
                      <td><br></td>
                      <td><br></td>
                      <td><br></td>
                    </tr>
                    <tr>
                      <td class="item-strong">Totale</td>
                      <td></td>
                      <td class="item-strong text-right">{{hosts_count}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 mb-2 mt-2">
        <div class="card hoverable ml-2 mr-2 mt-1 full-height">
          <div class="text-center mb-2 status-services">
            <p class="card-item-title" style="margin-bottom: 0;">Servizi</p>
          </div>
          <div class="card-body">
            <div class="row">
              <!--<div class="col-md-6 col-sm-12">
                <div class="services-chart">
                </div>
              </div>-->
              <div class="col-md-12 col-sm-12">
                <table class="table table-sm table-hover item-text">
                  <tbody>
                    <tr class="item-clickable" data-toggle="modal" data-target="#serviceModal" (click)="getServicesByState(0, 'OK')">
                      <td>OK</td>
                      <td class="service-ok"></td>
                      <td class="text-right">{{services_ok}}</td>
                    </tr>
                    <tr class="item-clickable" data-toggle="modal" data-target="#serviceModal" (click)="getServicesByState(1, 'Warning')">
                      <td>Warning</td>
                      <td class="service-warn"></td>
                      <td class="text-right">{{services_warn}}</td>
                    </tr>
                    <tr class="item-clickable" data-toggle="modal" data-target="#serviceModal" (click)="getServicesByState(2, 'Critical')">
                      <td>Critical</td>
                      <td class="service-crit"></td>
                      <td class="text-right">{{services_crit}}</td>
                    </tr>
                    <tr class="item-clickable" data-toggle="modal" data-target="#serviceModal" (click)="getServicesByState(3, 'Unknown')">
                      <td>Unknown</td>
                      <td class="service-pending"></td>
                      <td class="text-right">{{services_unknown}}</td>
                    </tr>
                    <tr>
                      <td>ACK</td>
                      <td></td>
                      <td class="text-right">{{services_pending}}</td>
                    </tr>
                    <tr>
                      <td class="item-strong">Totale</td>
                      <td></td>
                      <td class="item-strong text-right">{{services_count}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mb-2 mt-2">
          <div class="card hoverable ml-2 mr-2 mt-1 full-height">
            <div class="text-center mb-2 status-services">
              <p class="card-item-title" style="margin-bottom: 0;">Notifiche</p>
            </div>
            <div class="card-body">
              <table class="table table-responsive w-100 d-block d-md-table table-sm text-center table-hover">
                <thead class="card-item-title">
                  <td class="align-middle">Orario</td>
                  <td class="align-middle">Cliente</td>
                  <td class="align-middle">Host</td>
                  <td class="align-middle">Servizio</td>
                  <td class="align-middle">Stato</td>                 
                </thead>
                <!--<tbody *ngIf="services_state == undefined">
                    <tr class="item-text-big-gray">
                        <td colspan="10">
                            <img *ngIf="service_loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                          Caricamento in corso
                        </td>
                    </tr>
                </tbody>-->
                <tbody class="text-left">
                  <tr *ngFor="let service_change of services_change | paginate: { id: 'service_change_paginate', itemsPerPage: 5, currentPage: page_service_change };" class="item-text">
                    <td class="align-middle text-center">{{service_change.created_at}}</td>
                    <td class="align-middle">{{service_change.customer_name}} - {{service_change.customer_site_description}}</td>
                    <td class="align-middle">{{service_change.host_alias}}</td>
                    <td class="align-middle">{{service_change.service_name}}</td>                
                    <td class="align-middle text-center warn-status" *ngIf="service_change.plugin_output === 1">WARN</td>
                    <td class="align-middle text-center down-status" *ngIf="service_change.plugin_output === 2">CRIT</td>
                    <td class="align-middle text-center unknown-status" *ngIf="service_change.plugin_output === 3">UNKN</td>                             
                  </tr>
                  
                </tbody>
              </table>
              <div *ngIf="services_change != undefined" class="row">
                <div class="col-md-12 col-sm-12 mt-1 text-right">
                  <pagination-controls id="service_change_paginate" class="my-pagination" (pageChange)="page_service_change = $event"
                                        autoHide="true"
                                        previousLabel="Indietro"
                                        nextLabel="Avanti"
                                        directionLinks="false"
                  >
                  </pagination-controls>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row mt-2" *ngIf="globalState">
      <div class="col-md-12 ml-1">
        <button *ngIf="globalState === 'active'" (click)="switchState(hostgroups)" class="btn btn btn-secondary">Comprimi
          <i class="fa" [ngClass]="{
            'fa-toggle-on':globalState === 'active',
            'fa-toggle-off':globalState === 'inactive'
          }" aria-hidden="true"></i>
        </button>
        <button *ngIf="globalState === 'inactive'" (click)="switchState(hostgroups)" class="btn btn btn-secondary">Espandi
          <i class="fa" [ngClass]="{
            'fa-toggle-on':globalState === 'active',
            'fa-toggle-off':globalState === 'inactive'
          }" aria-hidden="true"></i>
        </button>
      </div>
    </div>-->

    <div class="row mt-2" *ngIf="hostgroups">
  		<div class="col-md-3 col-sm-12 mb-3" *ngFor="let hostgroup of filter(hostgroups); let j = index">
  			<div style="height: 100%;" class="card hoverable ml-2 mr-2 mt-1">

  				<div class="text-center mb-2 status-hosts">         
            <p class="card-item-title" style="margin-bottom: 0;">{{hostgroup.name}} - {{hostgroup.description}}</p>
    			</div>

  				<div class="card-body" [@hostgroupState]="hostgroup.state">
  					<div *ngFor="let group of hostgroup.groups; let i = index">
  						<div class="row">
      					<div class="text-center col-3"><i class="fa" [ngClass]="{
  								'fa-check-circle hostgroup-up':group.worst_service_state == '0',
  								'fa-exclamation-circle hostgroup-warning':group.worst_service_state == '1',
  								'fa-times-circle hostgroup-critical':group.worst_service_state == '2',
                  'fa-question-circle hostgroup-unknown':group.worst_service_state == '3'
  							}" aria-hidden="true"></i></div>
                
  							<div class="col item-text item-clickable" routerLink="/site/{{hostgroup._id}}/hostgroup/{{group._id}}">{{group.alias}}</div>
              </div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

  </div>

</div>

<div class="modal fade" id="hostModal" tabindex="-1" role="dialog" aria-labelledby="hostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hostModalLabel" *ngIf="modalPanelTitle">Elenco Host, Stato: {{modalPanelTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-responsive w-100 d-block d-md-table table-sm text-center table-hover">
          <thead class="card-item-title" style="color: #172559;">
            <td scope="col"><i class="fa fa-address-card-o" aria-hidden="true"></i>
            Cliente</td>
            <td scope="col"><i class="fa fa-address-card-o" aria-hidden="true"></i>
            Sito</td>
            <td scope="col"><i class="fa fa-address-card-o" aria-hidden="true"></i>
            Nome</td>
            <td scope="col"><i class="fa fa-podcast" aria-hidden="true"></i> Indirizzo IP</td>
            <td scope="col"><i class="fa fa-server" aria-hidden="true"></i> Stato Servizi</td>
            <td scope="col"><i class="fa fa-check-circle hostgroup-up"></i> OK</td>
            <td scope="col"><i class="fa fa-exclamation-circle hostgroup-warning"></i> Warning</td>
            <td scope="col"><i class="fa fa-times-circle hostgroup-critical"></i> Critical</td>
            <td scope="col"><i class="fa fa-question-circle hostgroup-unknown" aria-hidden="true"></i> Unknown</td>
            <td scope="col"><i class="fa fa-wrench hostgroup-ack" aria-hidden="true"></i> Ack</td>
          </thead>
          <tbody *ngIf="hosts == undefined">
              <tr class="item-text-big-gray">
                  <td colspan="10">
                      <img *ngIf="host_loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    Caricamento in corso
                  </td>
              </tr>
          </tbody>
          <tbody *ngIf="hosts != undefined">
            <tr *ngFor="let host of filter_ex(hosts) | paginate: { id: 'host_paginate', itemsPerPage: 20, currentPage: page_host };" class="item-text">
              <td>{{host.name_ex}}</td>
              <td>{{host.site}}</td>
              <td>{{host.alias}}</td>
              <td>{{host.address}}</td>
              <td><i class="fa" [ngClass]="{
                'fa-check-circle hostgroup-up':host.crit == 0 && host.warn == 0 && host.unknown == 0,
                'fa-exclamation-circle hostgroup-warning':host.crit == 0 && host.warn > 0 && host.unknown == 0,
                'fa-times-circle hostgroup-critical':host.crit > 0,
                'fa-question-circle hostgroup-unknown':host.crit == 0 && host.unknown > 0
              }" aria-hidden="true"></i></td>
              <td>{{host.ok}}</td>
              <td>{{host.warn}}</td>
              <td>{{host.crit}}</td>
              <td>{{host.unknown}}</td>
              <td>{{host.acks}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="hosts != undefined" class="row">
          <div class="col-md-12 col-sm-12 mt-1 text-right">
            <pagination-controls id="host_paginate" class="my-pagination" (pageChange)="page_host = $event"
                                 autoHide="true"
                                 previousLabel="Indietro"
                                 nextLabel="Avanti"
                                 directionLinks="false"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header" [ngClass]="{
          'panel-state-ok': modalPanelState == 0,
          'panel-state-warn': modalPanelState == 1,
          'panel-state-crit': modalPanelState == 2,
          'panel-state-unknown': modalPanelState == 3
        }">
          <h5 class="modal-title" id="serviceModalLabel" *ngIf="modalPanelTitle">Elenco Servizi, Stato: {{modalPanelTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-responsive w-100 d-block d-md-table table-sm text-center table-hover table-striped">
            <thead class="card-item-title table-header">
              <td class="align-middle">Cliente</td>
              <td class="align-middle">Sito</td>
              <td class="align-middle">Host</td>
              <td class="align-middle">Nome</td>
              <td class="align-middle">Descrizione</td>
              <td class="align-middle">Ultimo Log</td>             
            </thead>
            <tbody *ngIf="services_state == undefined">
                <tr class="item-text-big-gray">
                    <td colspan="10">
                        <img *ngIf="service_loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                      Caricamento in corso
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="services_state != undefined">
              <tr *ngFor="let service_state of filter_ex(services_state) | paginate: { id: 'service_paginate', itemsPerPage: 10, currentPage: page_service };" class="item-text">
                <td class="align-middle">{{service_state.customer_name}}</td>
                <td class="align-middle">{{service_state.customer_site_description}}</td>
                <td class="align-middle">{{service_state.host_alias}}</td>
                <td class="align-middle">{{service_state.service_name}}</td>
                <td class="align-middle text-left">{{service_state.plugin_output}}</td>
                <td class="align-middle">{{service_state.created_at}}</td>                
              </tr>
            </tbody>
          </table>
          <div *ngIf="services_state != undefined" class="row">
            <div class="col-md-12 col-sm-12 mt-1 text-right">
              <pagination-controls id="service_paginate" class="my-pagination" (pageChange)="page_service = $event"
                                   autoHide="true"
                                   previousLabel="Indietro"
                                   nextLabel="Avanti"
                                   directionLinks="false"
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
